
tensorflow==2.1.0
Keras==2.3.1
qiskit
pytket
pytket-qiskit==0.4.1
h5py==2.10.0
matplotlib==3.3.3

#
# ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
# sphinx 4.0.0 requires Jinja2<3.0,>=2.3, but you have jinja2 3.0.3 which is incompatible.
# sphinx 4.0.0 requires MarkupSafe<2.0, but you have markupsafe 2.1.0 which is incompatible.